/************************************************ HEADER *********************************************/
/*#mainHeader, #mainFooter{*/
/*    !*background-color: var(--red);*!*/
/*    position: fixed;*/
/*    width: 100%;*/
/*}*/
/*#mainHeader {*/
/*    background-color: #72be72;*/
/*    display: grid;*/
/*    grid-template-columns: 80px 1fr 40px;*/
/*}*/
#rightHead{
    display: flex; align-items: center; color: aliceblue;
    /*background-color: aqua;*/
    padding: 1px 12px;
    border: 1px solid white;
}
#profil {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}
.nameProfil {
    font-size: 12px;
    padding-top: 8px;
    margin-left: 5px;
}
.point {
    position: absolute;
    margin: 146px 109px;
    z-index: 1;
    height: 23px;
    width: 23px;
    background: black;
    border-radius: 50%;
}
